accelerate==1.13.0+computecanada
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.13.3+computecanada
aioitertools==0.13.0+computecanada
aiosignal==1.4.0+computecanada
aiosqlite==0.22.1
alembic==1.18.4+computecanada
annotated_doc==0.0.4+computecanada
annotated_types==0.7.0+computecanada
anyio==4.13.0+computecanada
arize-phoenix-client==2.3.0
arize-phoenix-evals==2.13.0
arize-phoenix-otel==0.15.0
attrs==26.1.0+computecanada
Authlib==1.6.9
av==15.1.0+computecanada
bitsandbytes==0.49.2+computecanada
cachetools==7.0.5+computecanada
certifi==2026.2.25+computecanada
cffi==2.0.0+computecanada
charset_normalizer==3.4.7+computecanada
click==8.3.2
cross-web==0.4.1
cryptography==46.0.3+computecanada
cut_cross_entropy==25.1.1+computecanada
Cython==0.29.37+computecanada
dataclasses_json==0.6.7+computecanada
datasets==4.3.0+computecanada
diffusers==0.37.1
dill==0.3.8+computecanada
distro==1.9.0+computecanada
dnspython==2.8.0+computecanada
docstring_parser==0.17.0+computecanada
duckduckgo_search==8.1.1
email_validator==2.3.0+computecanada
fastapi==0.135.3+computecanada
filelock==3.25.2+computecanada
frozenlist==1.8.0+computecanada
fsspec==2025.3.0+computecanada
googleapis_common_protos==1.74.0+computecanada
graphql-core==3.2.8
greenlet==3.3.1+computecanada
grpc-interceptor==0.15.4
grpcio==1.76.0+computecanada
h11==0.16.0+computecanada
hdbscan==0.8.37+computecanada
hf_transfer==0.1.9+computecanada
hf_xet==1.4.3+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==1.9.0+computecanada
idna==3.11+computecanada
importlib_metadata==8.7.1+computecanada
jinja2==3.1.6+computecanada
jiter==0.13.0+computecanada
jmespath==1.1.0+computecanada
joblib==1.5.3+computecanada
jsonpatch==1.33+computecanada
jsonpath-ng==1.8.0
jsonpointer==3.1.1
jsonschema==4.26.0+computecanada
jsonschema_specifications==2025.9.1+computecanada
langchain-core==1.2.26
langgraph==1.1.6
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.9
langgraph-sdk==0.3.12
langsmith==0.7.25
ldap3==2.9.1+computecanada
lia-web==0.3.1
llvmlite==0.46.0+computecanada
lxml==6.0.2+computecanada
Mako==1.3.10+computecanada
markdown_it_py==4.0.0+computecanada
markupsafe==3.0.3+computecanada
marshmallow==3.26.2+computecanada
mdurl==0.1.2+computecanada
mpmath==1.3.0+computecanada
msgspec==0.19.0+computecanada
multidict==6.7.1+computecanada
multiprocess==0.70.16+computecanada
mypy_extensions==1.1.0+computecanada
networkx==3.6.1+computecanada
numba==0.64.0+computecanada
numpy==1.26.4+computecanada
openai==1.109.1
openinference-instrumentation==0.1.46
openinference-instrumentation-langchain==0.1.62
openinference-instrumentation-llama-index==4.3.9
openinference-instrumentation-openai==0.1.44
openinference-semantic-conventions==0.1.28
opentelemetry-instrumentation==0.61b0
opentelemetry_api==1.40.0+computecanada
opentelemetry_exporter_otlp==1.40.0+computecanada
opentelemetry_exporter_otlp_proto_common==1.40.0+computecanada
opentelemetry_exporter_otlp_proto_grpc==1.40.0+computecanada
opentelemetry_exporter_otlp_proto_http==1.40.0+computecanada
opentelemetry_proto==1.40.0+computecanada
opentelemetry_sdk==1.40.0+computecanada
opentelemetry_semantic_conventions==0.61b0+computecanada
orjson==3.11.7+computecanada
ormsgpack==1.12.1+computecanada
packaging==26.0+computecanada
pandas==3.0.0+computecanada
peft==0.18.1+computecanada
pillow==12.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
primp==0.15.0+computecanada
prometheus_client==0.24.1+computecanada
propcache==0.4.1+computecanada
protobuf==5.29.6+computecanada
psutil==7.2.2+computecanada
pyasn1==0.6.3+computecanada
pycparser==3.0+computecanada
pydantic==2.12.5+computecanada
pydantic_core==2.41.5+computecanada
pynndescent==0.6.0+computecanada
pystache==0.6.8
pytesseract==0.3.13
python_dateutil==2.9.0.post0+computecanada
python_dotenv==1.2.2+computecanada
python_multipart==0.0.22+computecanada
pyyaml==6.0.3+computecanada
qwen_vl_utils==0.0.14+computecanada
rank_bm25==0.2.2+computecanada
referencing==0.37.0+computecanada
regex==2026.1.15+computecanada
requests==2.33.1+computecanada
requests_toolbelt==1.0.0+computecanada
rich==14.3.3+computecanada
rpds_py==0.30.0+computecanada
safetensors==0.7.0+computecanada
scikit_learn==1.8.0+computecanada
scipy==1.17.0+computecanada
sentence-transformers==5.3.0
sentencepiece==0.2.0+computecanada
shellingham==1.5.4+computecanada
six==1.17.0+computecanada
sniffio==1.3.1+computecanada
sortedcontainers==2.4.0+computecanada
SQLAlchemy==2.0.49
sqlean.py==0.1
starlette==1.0.0+computecanada
strawberry-graphql==0.208.2
sympy==1.14.0+computecanada
tenacity==8.5.0+computecanada
tesseract==0.1.3
threadpoolctl==3.6.0+computecanada
tiktoken==0.12.0+computecanada
tokenizers==0.22.2+computecanada
torch==2.9.0+computecanada
torchao==0.17.0
torchaudio==2.11.0+computecanada
torchvision @ file:///cvmfs/soft.computecanada.ca/custom/python/wheelhouse/gentoo2023/generic/torchvision-0.24.0%2Bcomputecanada-cp311-cp311-linux_x86_64.whl#sha256=69dbe4c0ea5931ae89cf1909f94ff6275b3952b03f7bd98e31e21e916ec548d7
tqdm==4.67.3+computecanada
transformers==5.5.0+computecanada
triton==3.6.0+computecanada
trl==0.24.0+computecanada
typeguard==4.5.1+computecanada
typer==0.24.1+computecanada
typing_extensions==4.15.0+computecanada
typing_inspect==0.9.0+computecanada
typing_inspection==0.4.2+computecanada
tyro==1.0.12
umap_learn==0.5.11+computecanada
unsloth==2026.4.2
unsloth_zoo==2026.4.2
urllib3==2.6.3+computecanada
uuid_utils==0.13.0+computecanada
uvicorn==0.43.0
wrapt==1.17.3+computecanada
xformers==0.0.33.post1+computecanada
xxhash==3.5.0+computecanada
yarl==1.23.0+computecanada
zipp==3.23.0+computecanada
zstandard==0.25.0+computecanada
